@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url('./../assets/fonts/YanoneKaffeesatz-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url('./../assets/fonts/YanoneKaffeesatz-Bold.ttf') format('truetype');
    font-weight: 700;
}

* {
    box-sizing: border-box;

    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.main {
    width: 80%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;

    margin-bottom: 10rem;
}

.accordion {
    width: 50%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;

    gap: 1rem;
}

.container {
    display: block;
}

.radio:checked~.content {
    cursor: pointer;

    width: 100%;
    max-height: 70rem;
    display: flex;
}

.radio:checked~.content .image {
    transform: scale(1);
}

.radio:checked~.content .icon {
    transform: rotate(180deg);
}

.radio:checked~.button {
    color: black;
}

.radio:checked~.button .icon>path {
    fill: black;
}

.container:active .content .image {
    opacity: 0.7;
    transition: all 0.3s ease-in-out;
}

.container:active .button {
    color: blue;
}

.title {
    letter-spacing: 0.1em;
    font-size: 2.5rem;

    text-transform: uppercase;

    text-align: center;

    color: #b5dee6;
}

.radio {
    display: none;
}

.button {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0;
    padding: 1rem 1.5rem;

    font-size: 1.5rem;

    text-transform: lowercase;
    color: blue;

    border-radius: 0.2rem;

    width: 100%;
    height: 3rem;

    outline: none;
    border: none;

    background-color: #E9E9ED;

    transition: all 0.3s ease-in-out;
}

.button:active {
    background-color: #b5dee6;
}

.icon {
    opacity: 0;
    transform: rotate(45deg);

    transition: all 0.3s ease-in-out;
}

.content {
    justify-content: center;

    border-radius: 0 0 0.2rem 0.2rem;

    background-color: #f6f6f8;

    width: 100%;
    max-height: 0;

    overflow: hidden;

    transition: all 0.7s ease-in-out;
}

.image {
    transform: scale(0.5);
    width: 100%;
    object-fit: contain;

    transition: transform 0.5s ease-in-out;
}

@media screen and (max-width: 120rem) {
    .title {
        font-size: 2.2rem;
    }

    .button {
        font-size: 1.4rem;
    }

    .main {
        width: 65%;
    }

    .accordion {
        width: 65%;
    }

    .content__opened {
        max-height: 30rem;
    }

    .image {
        max-height: 30rem;
    }
}

@media screen and (max-width: 51.25rem) {
    .title {
        font-size: 1.6rem;
    }

    .button {
        font-size: 1rem;
        padding: 0 1rem;
    }

    .main {
        width: 80%;
    }

    .accordion {
        width: 80%;
    }

    .content__opened {
        max-height: 25rem;
    }

    .image {
        max-height: 25rem;
    }
}

@media screen and (max-width: 20rem) {
    .title {
        font-size: 1.2rem;
    }

    .button {
        font-size: 0.9rem;
        padding: 0 1rem;
    }

    .main {
        width: 100%;
    }

    .accordion {
        width: 95%;
    }

    .content__opened {
        max-height: 20rem;
    }

    .image {
        max-height: 20rem;
    }
}

@media (hover: hover) {

    .container:hover .content {
        cursor: pointer;

        width: 100%;
        max-height: 70rem;
        display: flex;
    }

    .container:hover .image {
        transform: scale(1);
    }

    .container:hover .icon {
        transform: rotate(180deg);
    }


    .accordion:hover {
        cursor: pointer;
    }

    .accordion:hover .button {
        color: black;

        transition: color 0.3s ease-in-out;
    }

    .accordion:hover .radio:checked~.button {
        color: black;
    }

    .accordion:hover .radio:checked~.button .icon>path {
        color: black;
    }

    .container:hover:active .button {
        color: blue;
    }

    .container:hover:active .icon>path {
        fill: blue;

        transition: fill 0.3s ease-in-out;
    }

    .accordion:hover .icon {
        opacity: 1;
    }

    .button:hover {
        cursor: pointer;

        background-color: #b8edf8;
    }

    .container:active:hover .radio:checked~.button {
        color: blue;
    }
}